

@media screen and (max-width: 640px)
{

@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf');
    	  }


	section {

		font-size: 1.3em;
		margin-bottom: 0.5em;


	}

	.container_slider, iframe, #bg_iframe {

		display:none;
	}

	#menu_burger {

		visibility: visible;

	}

	#menu_burger:hover ~ nav {

		visibility: visible;
	}


	.fixed-header nav {

		visibility: hidden;
	}

	.fixed-header nav ul{

		flex-direction: column;
		display:flex;
		margin-top: 4em;
		margin-right: 1.2em;
	
	}

	.fixed-header nav ul li:first-child {

		display:none;
	}


	.fixed-header nav ul li {

		border:solid thin;
		background-color: #e9edf0;
	}

	.fixed-header nav ul li:nth-child(-n+3){

		border-bottom: none;
	}

	.fixed-header nav ul li a:hover {

		border-top: none;
	}

	.fixed-header {

		background-color: #e9edf0;
	}

	.fixed-header img {

		width:60%;
	}



/*Section Services*/

.container_nos_services {

	padding-top: 3em;
}

	.icon_span {

		margin-left:10%;
	}
	

	ul {

		padding:0em;
		margin:0em;
	}


	.list_service ul li {

		flex-direction: column;
		text-align: center;

	}

	.list_service p {

		font-size: 1em;

	}

	/*Section Projets*/


	.container_nos_projets {


		
	margin:0 auto;
		
	}

	.container_nos_projets nav ul{

		width:100%;

	}

	

	figure {

		width:90%;
	}

	figcaption {
		
		font-size: 0.6em;
		visibility: visible;
	}

	figcaption p {

		line-height: 1.2em;
		font-size: 0.6rem;
	}


	#contact_title {

		display:block;
	}

	#container_contact {

		position:relative;
		width:90%;
		
	}

	#formulaire {

		position:static;
		border:solid thin #e4e9eb;
		border-radius: 2px;
		margin:0 auto;
		width:100%;
		padding:0.2em;
		
	
	

	}

}